/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Add header translucent effect for all devices
ion-header {

  ion-toolbar {
    --opacity: 0.8 !important;
    --opacity-scale: 1 !important;
  }

  // Replace the .header-background with the :before to make it work for the `android` mode
  .header-background {
    display: none !important;
  }
  &:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
  }
}

// Add footer translucent effect for all devices
ion-tab-bar {
  background: transparent;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;

  &:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--ion-tab-bar-background, var(--ion-color-step-50, #f7f7f7));
    opacity: 0.8;
  }

  ion-tab-button {
    background: transparent;
  }
}

// Tab bar height is hard coded, so add the value to a variable here to re-use it elsewhere
ion-app {
  &.md {
    --tab-bar-height: 56px;
  }
  &.ios {
    --tab-bar-height: 50px;
  }
}

// Fix ion-tabs translucent effect not working
ion-tabs {
  display: block;

  .tabs-inner {
    height: 100%;
    padding-bottom: var(--tab-bar-height);
  }

  ion-tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
